<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

  <div class="container" id="app" v-cloak>
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps"  >
        <div class="steps-content">
          {{ steps[activeIndex].text }}
        </div>
        <ul class="steps-list">
          <li v-for="(step,  index) in steps"
              :key="index"
              class="steps-item"
              :class="{
                active: activeIndex === index,
                done: index - 1 < activeIndex
              }"
          >
            <span @click="setActive(index)">{{ index + 1 }}</span> {{ step.title }}
          </li>
        </ul>
        <div v-if="!isFinish">
          <button @click="prev" :disabled="isFirstStep" class="btn">Назад</button>
          <button @click="nextOfFinish" class="btn primary">
            {{ isLastStep ? 'Закончить' : 'Вперед' }}
          </button>
        </div>
        <div v-else>
          <button @click="reset" class="btn">Начать заного</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
